@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-terciaria: #F68E07;
    --cor-quartiaria: #D11F52;
    --cor-background: #FCF8F0;
    --cor-preta-stroke: #0a0808;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: "Poppins", sans-serif;
    --montserrat-font: "Montserrat", sans-serif; 
    --bogart-medium: "Bogart Bold", sans-serif;
}

@font-face {
    font-family: 'Bogart Bold';
    font-style: normal;
    font-weight: 500;
    src: local('Bogart Bold'), 
         url('../fonts/Bogart-Bold-trial.ttf') format('truetype');
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: var(--cor-background);
}

.home_bannerImage_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.banner_image {
    width: 100%;
    max-width: 1550px; 
    height: auto;
}

.home_bannerImage_container {
    position: relative;
    /* Adicione outras regras de estilo conforme necessário */
}

/* Estilo do h1 */
.banner_heading {
    position: absolute;
    top: 80px;
    left: 90px;
    margin: 0; /* Remove qualquer margem padrão */
    font-family: var(--bogart-medium);
    font-size: 3.5em; /* Ajuste o tamanho conforme necessário */
    color: var(--cor-primaria);
}

/* Estilo do h2 */
.banner_subheading {
    position: absolute;
    top: calc(45px + 2.5em + 45px); 
    left: 90px;
    margin: 0; 
    font-family: var(--bogart-medium);
    font-size: 2.5em; 
    color: var(--cor-fonte-branco);
}

.categories_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.7rem; 
    margin-bottom: 40px; 
}

.category_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.category_image {
    width: auto;
    height: 100px; 
    margin-bottom: 10px;
}

.category_item p {
    font-family: var(--poppins-font);
    font-size: 1.2rem;
    color: var(--cor-fonte-principal);
    margin-bottom: 20px;
}

.recommendations_container {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-bottom: 80px; 
}

.recommendations_heading {
    font-family: var(--bogart-medium);
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-fonte-principal);
    margin-bottom: 65px;
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem;
}

.roundedCategorySection {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.view_more_home{
        background-color: var(--cor-terciaria);
        border: 2px solid black;
        border-right-width: 2px;
        border-bottom-width: 5px;
        padding: 10px 40px;
        border-radius: 10px;
        cursor: pointer;
        font-family: var(--montserrat-font);
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        transition: background-color 0.3s, color 0.3s;
        display: block;
        margin: auto;
        text-align: center;
}

.view_more_home:hover{
    background-color: rgb(239, 155, 52);
}

.promo_section {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 92%;
    height: 340px;
    padding: 50px;
    margin-top: 100px;
    
    text-align: left;
    
    border-radius: 15px;
    background-color: #B075ED;
}

.promo_image {
    position: absolute;
    right: 80px;
    bottom: 0;
    width: auto;
    height: 450px;
    margin-left: 40px;
    border-radius: 15px;
}

.promo_text {
    max-width: 600px;
    padding: 20px;
    left: 10px; 
}

.promo_heading {
    font-family: var(--bogart-medium);
    font-size: 2.3rem;
    color: var(--cor-fonte-branco);
    margin-bottom: 15px;
}

.promo_paragraph {
    font-family: var(--poppins-font);
    font-size: 1rem;
    color: var(--cor-fonte-branco);
    margin-bottom: 20px;
    font-weight: 600;
}

.promo_link {
    font-family: var(--poppins-font);
    font-size: 1rem;
    color: var(--cor-fonte-branco);
    text-decoration: underline;
}

.help_section {
    background-color: #E6E6FA; 
    padding: 40px;
    width: 92%;
    text-align: center;
    border-radius: 15px;
    margin-top: 100px;
}

.help_heading {
    font-family: var(--bogart-medium);
    font-size: 2.5rem;
    color: var(--cor-fonte-principal);
    margin-bottom: 40px;
}

.service_container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 80px;
}

.service_item {
    display: flex;
    gap: 25px;
    text-align: left;
    margin: 10px;
}

.service_item div {
    display: flex;
    flex-direction: column;
    gap: 7px;

    margin-top: 12px;
}

.service_icon {
    width: 120px; 
    height: auto;
    margin-bottom: 10px;
}

.service_title {
    font-family: var(--montserrat-font);
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--cor-fonte-principal);
    margin-bottom: 5px;
}

.service_text {
    font-family: var(--montserrat-font);
    font-weight: normal;
    font-size: 1.3rem;
    color: #333; 
}