* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.subText {
    color: #545454;
}

/* elemento pai do componente */
.produtoContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.caminhoProduto {
    margin-left: 260px;
}

/* Estilizando as imagens do produto */
.imagensProduto {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 45%;
}

.imgLtrl {
    width: 70px;
    height: 68px;
    background-color: #f0c9ff;
    border-radius: 4.5px;
    margin: 10px 0;
}

.imgPrincipal {
    width: 100%;
    min-width: 700px;
    height: auto;
    object-fit: cover;
}

/* Estilizando as informações do conteúdo */
.containerInfos {
    width: 30%;
}

.contentInfosProduto {
    position: relative;
}

.preco {
    color: green;
    font-size: 38px;
    margin: 10px 0;
}

.infosProduto {
    margin-bottom: 40px;
}

/* Estilizando os botões */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    width: 285.5px;
    height: 47.5px;
    border-radius: 15px;
    color: #202020;
}

.btnRoxo {
    background-color: #361a5c;
    color: #fff !important;
    margin-bottom: 30px;
}

.btnRosa {
    background-color: #f0c9ff;
    color: #361a5c;
}

.carrinhoIcone {
    width: 34px;
    height: 35px;
    margin: 0 15px;
}

/* Estilizando a parte de pagamentos */
.contentPagamento {
    width: 285.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contentPagamento h4 {
    font-size: 18px;
}

.contentPagamento img {
    width: 28px;
}

.pix {
    height: 23px;
}

.boxInfosPagamento {
    display: flex;
    flex-direction: row;
}

.textoEsquerda,
.textoDireita {
    font-size: 14px;
}

.textoEsquerda {
    border-right: 1px solid black;
    padding-right: 5%;
}

.textoDireita {
    border-left: 1px solid black;
    padding-left: 5%;
}

/* Estilizando box da loja */
.containerPerfilLoja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    color: #d11f52;
    width: 332.5px;
    height: 270px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 9px;
    border: 2px solid #d11f52;
    box-shadow: 5px 5px 0 #d11f51ce;
}

.containerPerfilLoja > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerPerfilLoja > div button {
    padding: 10px;
    background-color: #d11f52;
    color: #fff;
    border-radius: 7px;
}

.fotoPerfil {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #545454;
    margin-right: 20px;
}

.textRosa {
    color: #d11f52;
    margin-bottom: 5px;
}

.btnContatarVendedor {
    border: 2px solid #d11f52;
    border-radius: 9px;
}
