.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.1);
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    font-size: 0.9em;
    color: gray;
    margin-bottom: 10px;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.feedback {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.rating {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.fullStar {
    color: #FFD700;
}

.emptyStar {
    color: #D3D3D3;
}
