.containerInicial{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

.boxImg {
    height: 100%;
    width: 100%;
    img{
    width: 100%;
    height: 100%;
   }
}

.boxDescricao{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 5rem;
    background-color: rgba(244, 240, 233, 1);
    
    div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
.titulo, .descricao{
    font-family: var(--poppins-font);
    width: 33rem;
}
.titulo{
    color: var(--cor-quartiaria);
    line-height: 2.8rem;
    font-weight: 700                                                                                                                                                                                                                                                                    ;
  
}
.descricao {
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 25rem;
}
.btnComecar{
    align-self: flex-end;
    color: #fff !important;
    padding: 1rem 3rem;
    background-color: var(--cor-fonte-principal);
    border-radius: 0.5rem;
    color: var(--cor-fonte-branco);
    font-weight: 600;
    font-family: var(--montserrat-font);
    font-size: 1.4rem;
    -webkit-box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
    -moz-box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
    box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
  }