.containerInicial{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

.boxImg {
    height: 100%;
    width: 50%;
   img{
    width: 100%;
    height: 100%;
   }
}

.boxDescricao{
    width: 60rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem;

    padding: 0rem 5rem 0rem 5rem;
  
    background-color: rgba(244, 240, 233, 1);
}
.titulo{
    color: var(--cor-quartiaria);
    font-family: var(--poppins-font);
    width: 30rem;
}
.btnComecar{
    align-self: flex-end;
  
    padding: 1rem 3rem;
    background-color: var(--cor-fonte-principal);
    border-radius: 0.5rem;
    color: var(--cor-fonte-branco);
    font-weight: 600;
    font-family: var(--montserrat-font);
    font-size: 1.4rem;
    -webkit-box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
    -moz-box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
    box-shadow: 7px 7px 8px -3px rgba(0,0,0,1);
  }
.categorias{
    display: flex;
    gap: 2rem;
}
.categoriaColuna {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        display: flex;
        gap: 1.5rem;
        font-size: 1.4rem;
        font-family: var(--poppins-font); 
        font-weight: 500;

        input[type=checkbox] {
            position: relative;
            cursor: pointer;
            width: 1rem;
        }
    }
}
  
