.footer {
    width: 100%;
    background: url('../../../../assets/images/imgs-footer/footer-bg.png') no-repeat center center/cover;
    color: var(--cor-fonte-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 25px;
    box-sizing: border-box;
    position: relative;
    min-height: 700px;
    overflow-x: hidden;
}

.footer-content {
    width: 100%;
    max-width: 1665px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 30px; 
    min-width: 200px;
    position: relative;
}

.footer-logo {
    margin-bottom: 45px;
    margin-left: -30px;
}
.footer-column.customer-service {
    padding-top: 100px;
    padding-left: -25px;
}

.footer-column.about {
    padding-top: 220px;
}

.footer-column.payment-methods {
    padding-top: 220px;
}

.footer-column.follow-us {
    padding-top: 220px;
}

.footer-column h4 {
    font-family: var(--montserrat-font);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 16px;
}

.footer-column ul li a {
    font-family: var(--montserrat-font);
    font-weight: normal;
    font-size: 1rem;
    color: var(--cor-fonte-branco);
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.payment-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.img-barcode {
    width: 60px;
    height: 60px;
}

.pix-pix {
    margin-top: 9px;
    width: 80px !important;
    height: 60px !important;
}

.payment-icons img {
    width: 75px;
    height: auto;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.social-icons a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--cor-fonte-branco); 
}

.social-icons img {
    width: 40px;
    margin-right: 10px;
}

.footer-bottom {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    font-size: 0.9rem;
    position: absolute;
    bottom: 20px;
    left: 23px;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        max-width: 100%;
    }

    .social-icons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-icons a {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .footer-bottom {
        text-align: center;
        position: static;
        margin-top: 20px;
    }
}
