.languageSelector {
    position: relative;
    z-index: 1000; /* Garantir que o botão esteja acima de outros elementos */
}

.fixedButton {
    position: fixed;
    bottom: 0;
    left: 0;

    min-width: 112px;
    margin: 0  0 20px 20px;
    padding: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    background-color: #ffffff;

    cursor: pointer;
    display: flex;
    align-items: center;
}

.fixedButton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown {
    position: fixed;
    left: 20px;
    bottom: 60px;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    width: max-content;
    min-width: 100px;
    padding: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    background-color: white;
    
}

.dropdownButton {
    margin: 5px 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdownButton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
