/* FeiraLayout.module.css */

/* Importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Definir variáveis */
:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-terciaria: #F68E07;
    --cor-quartiaria: #D11F52;
    --cor-background: #FCF8F0;
    --cor-preta-stroke: #0a0808;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: "Poppins", sans-serif;
    --montserrat-font: "Montserrat", sans-serif; 
    --bogart-medium: "Bogart Bold", sans-serif;
}

/* Estilos para o Contêiner Bem-Vindo Feira */
.sectionFeira {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 2%;
    width: 100%;
    height: 55vh;
    margin: 100px 0 200px 0;
    padding: 0 100px; 
    background-color: var(--cor-background);
}

.bemVindoContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 200px;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 20px; 
}

.TitleRosa, .TitleRoxo {
    font-family: var(--bogart-medium);
    font-size: 40px;
    color: var(--cor-quartiaria);
    margin-bottom: 20px;
}

.NormalText {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--cor-fonte-principal);
}

.VideoFeira {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #3c1266b7;
    border-radius: 10px;
    background-color: #B075ED;
}


.btnBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btnBox button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--cor-fonte-branco);
    background-color: #B075ED;
}

/* Estilos para o Container Como Funciona */
.containerComoFunciona {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    height: 55vh;
    margin: 120px 0 200px 0;
    padding: 0 20px; 
    background-color: var(--cor-background);
}

.containerComoFunciona img {
    height: 500px;
    object-fit: cover;
}