@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-background: #FBFAFA;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--poppins-font);
}

.arte {
    position: relative;
    width: 100%;
    max-width: 980px;
    padding: 23px;
    border-radius: 15.83px;
    background-color: var(--cor-background);
    text-align: left; 
}

.oR {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin-left: 0; 
    margin-top: 6px;
}

.proposalButton {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F68E07;
    color: var(--cor-fonte-branco);
    font-weight: bold;
    cursor: pointer;
}

.tR {
    display: flex;
    justify-content: flex-start; 
    margin-top: -40px; 
    gap: 15px; 
    color: var(--cor-secundaria);
}

.published,
.proposals {
    font-size: 14px;
    margin: 0; 
}

.description {
    margin: 14px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--cor-secundaria);
    margin-bottom: 5%;
    margin-top: 3%;
}

.fR {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagButtons {
    display: flex;
    gap: 10px;
}

.tagButton {
    padding: 6px 18px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    color: var(--cor-fonte-branco);
    cursor: pointer;
}

.tagButton:nth-child(1) {
    font-family: var(--poppins-font);
    font-weight: 400;
    background-color: #FE6291;
}

.tagButton:nth-child(2) {
    background-color: #6BA457;
    font-weight: 400;
}

.tagButton:nth-child(3) {
    background-color: #43E3E3;
    font-weight: 400;
}

.report {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: var(--cor-secundaria);
    cursor: pointer;
}

.report img {
    width: 26px;
    height: 26px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    width: 50%;
    position: relative;
  }
  
  .popup h2 {
    font-size: 1.75em; 
    margin-left: 0px;
    color: var(--cor-fonte-principal);
    margin-bottom: 13px;
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
  }
  
  .popup label {
    font-size: 1rem;
    color: var(--cor-fonte-principal);
    margin: 10px 0;
  }
  
  .popup textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 5px;
  }

  .popup input[type="radio"] {
    margin-right: 10px; 
  }

  .popup button {
    width: 100px;
    height: 40px;
    background-color: #F68E07;
    color: var(--cor-fonte-branco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none !important;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--cor-fonte-principal) !important;
  }