@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-background: #FBFAFA;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--poppins-font);
}

.arte {
    position: relative;
    width: 100%;
    max-width: 855px;
    padding: 23px;
    border-radius: 15.83px;
    background-color: var(--cor-background);
    text-align: left; 
}

.oR {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--cor-secundaria);
    margin-left: 0; 
}

.proposalButton {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F68E07;
    color: var(--cor-fonte-branco);
    font-weight: bold;
    cursor: pointer;
}

.tR {
    display: flex;
    justify-content: flex-start; 
    margin-top: -40px; 
    gap: 15px; 
    color: var(--cor-secundaria);
}

.published,
.proposals {
    font-size: 14px;
    margin: 0; 
}

.description {
    margin: 14px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--cor-secundaria);
    margin-bottom: 5%;
    margin-top: 3%;
}

.fR {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagButtons {
    display: flex;
    gap: 10px;
}

.tagButton {
    padding: 6px 18px;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    color: var(--cor-fonte-branco);
    cursor: pointer;
}

.tagButton:nth-child(1) {
    background-color: #FE6291;
}

.tagButton:nth-child(2) {
    background-color: #6BA457;
}

.tagButton:nth-child(3) {
    background-color: #43E3E3;
}

.report {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: var(--cor-secundaria);
    cursor: pointer;
}

.report img {
    width: 26px;
    height: 26px;
}
