@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-background: #FBFAFA;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

.filtro {
    width: 30%;
    background-color: var(--cor-background);
    padding: 22px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border: 2.2px solid var(--cor-secundaria);
    height: 90%;
}

.filtro label {
    display: block;
    margin-bottom: 12px;
    font-weight: 300;
    color: var(--cor-secundaria);
    font-family: var(--poppins-font);
    font-size: 1.2rem;
    font-weight: 600;
}

.botoes button{
    font-size: 16px !important; 
    font-weight: 400;
    margin-bottom: 10px;
    height: 42px !important;
    border: 2px solid var(--cor-secundaria) !important;
    padding: 8px !important;
}

.filtro button {
    width: 60%;
    border-radius: 10px !important;
    font-family: var(--poppins-font);
    background-color: var(--cor-background);
    color: var(--cor-secundaria);
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
}

.filtro select{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    font-family: var(--poppins-font);
    background-color: var(--cor-background);
    color: var(--cor-secundaria);
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
}

.filtro select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNCIgdmlld0JveD0iMCAwIDExIDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTEgMEw1LjUgNEwxMCAwIiBzdHJva2U9IiM2NjYiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K') no-repeat right 10px center;
    background-size: 11px 4px;
}

.filtro .botoes {
    display: flex;
    justify-content: space-between;
}

.filtro .botoes button {
    width: 30%;
    background-color: var(--cor-background);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-family: var(--poppins-font);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
}

.filtro .localizacao {
    display: flex;
    flex-direction: column;
}

.filtro .localizacao select {
    margin-bottom: 15px;
}

.filtro button.salvar {
    background-color: #F68E07;
    color: var(--cor-fonte-branco);
    border: 4px solid black;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    padding: 10px;
    font-family: var(--poppins-font);
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
}
