* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin-top: 50px;
}

.containerProdutosSimilares {
  width: 30%;
}

.containerProdutosSimilares h3 {
  text-align: center;
  font-size: 23px;
  color: #361A5C;
}

.similarProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 450px;
  padding: 30px;
}

.priceProduct {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.priceProduct span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 90px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #A972BF;
}
