@font-face {
    font-family: 'Bogart Semibold';
    font-style: normal;
    font-weight: 600;
    src: local('Bogart Semibold'), 
         url('../public/fonts/Bogart-Semibold-trial.ttf') format('truetype');
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bogart Semibold', sans-serif; /* Adicionado para garantir a fonte está disponível */
}

.banner {
    width: 80%;
    height: 25em;
    background-color: #D11F52;
    display: flex;
    justify-content: center; /* Alterado para centralizar horizontalmente */
    align-items: center;
    color: #fff;
    padding: 3em;
    margin-top: 5em;
    border-radius: 30px;
}

.titulo {
    font-size: 3em;
     font-family: 'Bogart Semibold', sans-serif; 
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-family: var(fon);
}

.info {
    width: 70%;
    font-size: 25px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    text-align: center; 
}

.botao {
    background-color: #9e74c0; 
    color: #fff; 
    font-size: 1.5em; 
    font-weight: bold; 
    border-radius: 20px; 
    padding: 12px 100px;
    cursor: pointer; 
    box-shadow: 1px 3px 0px 6.5px black; 
    outline: none; 
}

.botao:active {
    transform: translate(5px, 5px); 
    box-shadow: 0px 0px 0px 0px black; 
    transition: 50ms;
}

.lojas {
    margin-top: 8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo2 {
    font-size: 4em;
    font-family: 'Bogart Semibold';
    color: #361A5C;
    text-align: center;
    margin-bottom: 0.8em;
}

.cardsLoja{
    margin-top:3em ;
}

.divisao{
    display: flex;
    width: 77%;
    align-items: center;
    justify-content: space-between;
}

.beneficios{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.infosLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5em
}

.infosRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3.4em
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap:2em;
}

.rosa{
    color:#D11F52;
    font-weight: 600;
}

.info{
    text-align: left;
    font-size: 30px;
}

.ben{
    margin-top: 5em;
    margin-bottom: 5em;
}

