main {
    background-color: #f6f6f6;
    padding-bottom: 100px;
}

.backgroundCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;

    background-color: #DDC8FF;
}

.backgroundCategory h1 {
    font-size: 45px;
    text-transform: capitalize;
}

.backgroundCategory p {
    font-size: 25px;
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem; 

    width: 70%;
    margin: 50px auto;
}

.ContainerCategories {
    display: flex;
    flex-direction: column;

    text-align: center;
    width: 100%;
}

.ContainerCategories h2 {
    font-size: 38px;
}

.Categories {
    display: flex;
    justify-content: center;
}