@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-terciaria: #F68E07;
    --cor-quartiaria: #D11F52;
    --cor-background: #FCF8F0;
    --cor-preta-stroke: #0a0808;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: "Poppins", sans-serif;
    --montserrat-font: "Montserrat", sans-serif; 
    --bogart-medium: "Bogart Bold", sans-serif;
}

.form_container {
    background-color: #fff;
    border: 2px solid #440148;
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    margin-top: 8em;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border-bottom: 3px solid var(--cor-primaria);
    font-family: var(--poppins-font);
    color: var(--cor-fonte-principal);
}

.Active {
    font-weight: bold;
    color: var(--cor-primaria);
}

.step_content {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    font-family: var(--poppins-font);
    position: relative;
    text-align: left; 
}

.next_button {
    background-color: #F68E07;
    border: 2px solid #000000;
    border-bottom: 4px solid black;
    border-right: 3px solid #000000;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.next_button:hover {
    background-color: #D11F52;
    border-color: #D11F52;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--cor-primaria);
    border-radius: 8px;
    padding: 45px;
    margin: 30px auto; 
    cursor: pointer;
    font-size: 18px;
    width: 80%; 
    max-width: 600px; 
    font-family: var(--poppins-font);
    color: var(--cor-fonte-principal);
    font-weight: 600;
}

.option input {
    margin-right: 10px;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form_group label {
    margin-bottom: 5px;
    color: var(--cor-secundaria);
}

.form_group input[type="text"],
.form_group input[type="email"],
.form_group input[type="number"] {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    font-family: var(--poppins-font);
}

.form_group input[type="checkbox"] {
    margin-right: 10px;
}

.date_input {
    display: flex;
    gap: 10px;
}

.date_input input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    font-family: var(--poppins-font);
}

.verification_group {
    display: flex;
    gap: 10px;
}

.verify_button {
    background-color: transparent;
    border: 1px solid var(--cor-quartiaria);
    color: var(--cor-quartiaria);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button_group {
    display: flex;
    justify-content: space-between;
}

.submit_button {
    background-color: var(--cor-terciaria);
    border: 3px solid var(--cor-preta-stroke);
    color: var(--cor-fonte-branco);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.back_button {
    background-color: var(--cor-fonte-branco);
    border: 3px solid var(--cor-preta-stroke);
    color: var(--cor-preta-stroke);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.small_text {
    font-size: 12px;
    color: var(--cor-quartiaria);
    margin-top: 5px;
}
