@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-background: #fff; /* Alterado para #fff */
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
}

.bodyHtml {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #361A5C; 
}

.cadastroProdutoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff; 
    background-size: cover;
    background-position: center;
    gap: 80px;
    font-weight: bold;
    font-size: 18px;
}

.produtoImagem img {
    width: 300px;
    height: auto;
}

.produtoForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.formSection {
    background-color: #fff; 
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fotosProduto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fotosUpload {
    display: flex;
    flex-direction: row;
    gap: 2.8rem !important;
    margin-left: 13px;
}

.fotosUpload input[type="file"] {
    display: none;
}

.fotosUpload img {
    width: 100px;
    height: auto;
}

.fotosUpload label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 5px;
}

.campoForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campoForm label {
    font-weight: bold;
    color: #361A5C; 
}

.campoForm input[type="text"],
.campoForm textarea,
.campoForm select,
.campoForm input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1.9px solid #361A5C; 
    border-radius: 5px;
    color: #361A5C; 
    font-size: 16px;
    margin-top: 8px;
}

.campoDescricaoProduto textarea {
    height: 100px;
}

.campoPreco input[type="text"],
.campoEstoque input[type="number"] {
    width: 30%;
}

.campoEnvio {
    background-color: #fff; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}

.campoEnvio .campoPeso input[type="text"],
.campoEnvio .tamanhoPacote input[type="text"] {
    width: 23%;
    padding: 12px;
}

.envioFields label,
.sobEncomenda label {
    font-size: 18px;
}

.envioFields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.envioFields .campoForm {
    flex: 1;
}

.tamanhoPacote {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.sobEncomenda {
    display: flex;
    align-items: center;
    gap: 18px;
}

.sobEncomenda p {
    font-weight: normal !important;
}

.sobEncomenda div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campoForm input[type="radio"] {
    margin-right: 5px;
}

.button {
    align-self: center;
    background-color: #9B59B6; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #361A5C; 
}
