:root {
  --cor-primaria: #9B59B6;
  --cor-secundaria: #D11F52;
  --cor-terciaria: #F68E07;
  --cor-background: #FFFBF3;
  --cor-fonte-principal: #361A5C;
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

.checkoutContainer {
  display: flex;
}

.formulario {
  flex: 1;
  margin-right: 20px; 
}

.resumo {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid var(--cor-primaria); 
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sectionTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.address, .payment, .summary, .confirmation {
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.button {
  background-color: var(--cor-secundaria); 
  color: white;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
}

.editIcon {
  width: 16px; 
  height: 16px;
}

