:root {
  --cor-primaria: #9B59B6;
  --cor-secundaria: #D11F52;
  --cor-terciaria: #F68E07;
  --cor-background: #FFFBF3;
  --cor-fonte-principal: #361A5C;
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

.checkoutContainer {
  display: flex;
  font-family: var(--poppins-font); 
  color: var(--cor-fonte-principal);
}

.formulario {
  flex: 1;
  margin-right: 30px;
  padding: 30px;
}

.resumo {
  flex: 1;
  font-family: var(--poppins-font); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: var(--poppins-font); 
  border: 2px solid #361A5C;
}

.sectionTitle {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bold;
 
}

.address, .payment, .review {
  margin-top: 10px;
}

.address div, .paymentMethod {
  margin-bottom: 15px;
}

.editIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.button {
  background-color: var(--cor-primaria);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--montserrat-font);
}

.button:hover {
  background-color: var(--cor-secundaria);
}

.paymentMethod {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.paymentMethod img {
  margin-right: 10px;
}

.installments {
  margin-top: 20px;
}

.installments label {
  margin-right: 10px;
}

.header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid var(--cor-primaria);
}

.header .icon img {
  width: 30px;
  height: 30px;
}

.line, .lineGreen {
  flex-grow: 1;
  height: 2px;
  background-color: var(--cor-primaria);
}

.lineGreen {
  background-color: #00a651;
}

.reviewItem {
  margin-bottom: 10px;
}

.summary {
  padding: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.total {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}