:root {
  --cor-primaria: #9B59B6;
  --cor-secundaria: #D11F52;
  --cor-terciaria: #F68E07;
  --cor-background: #FFFBF3;
  --cor-fonte-principal: #361A5C;
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

.checkoutContainer {
  display: flex;
  font-family: var(--poppins-font); 
  color: var(--cor-fonte-principal);
}

.formulario {
  flex: 1;
  margin-right: 20px;
}

.resumo {
  flex: 1;
  font-family: var(--poppins-font); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.section {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: var(--poppins-font); 
}

.sectionTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: var(--poppins-font); 
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  padding: 28px;
  align-items: center;
  justify-content: center;
  border: 2.5px solid var(--cor-fonte-principal);
  border-radius: 50%;
}

.line {
  flex: 1;
  height: 2px;
  background-color: var(--cor-fonte-principal);
}

.editIcon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.productImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.button {
  background-color: var(--cor-secundaria);
  color: white;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-family: var(--poppins-font); 
}
