:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #361A5C;
    --cor-terciaria: #F68E07;
    --cor-quartiaria: #D11F52;
    --cor-background: #FCF8F0;
    --cor-preta-stroke: #0a0808;
    --cor-fonte-principal: #361A5C;
    --cor-fonte-branco: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --montserrat-font: 'Montserrat', sans-serif;
    --bogart-medium: 'Bogart Bold', sans-serif;
}

.rootContainer {
    font-family: var(--poppins-font);
    
    width: 70%;
    padding: 2rem;
    margin: auto;  
}

.section {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
}

.sectionColumn {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    width: 100%;
}

.textContainer {
    max-width: 100%;
}

.title, .sectionTitle {
    font-family: var(--bogart-medium);
    color: var(--cor-quartiaria);
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2.3rem;
}

.text {
    font-family: var(--poppins-font);
    font-size: 1.3rem;
    color: var(--cor-fonte-principal);
    font-weight: 700;
    margin: 2rem 0;
}

.textqui {
    font-family: var(--poppins-font);
    font-size: 1.5rem;
    color: var(--cor-fonte-principal);
    font-weight: 700;
    margin: 2rem 0;
    margin-right: 20rem;
}

.image {
    max-width: 260px;
    margin: 0 2.5rem;
}

.MarketImage {
    max-width: 260px;
    margin-left: -3rem;
}

.CatImage {
    max-width: 260px;
    margin-right: 6rem;
}

.mvvContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 8rem;
}

.mvvItem {
    width: 30%;
}

.mvvImage {
    max-width: 100px;
    margin: 0 auto;
}

.mvvTitle {
    font-family: var(--bogart-medium);
    color: var(--cor-preta-stroke);
    margin: 1rem 0;
}

.mvvText {
    font-family: var (--poppins-font);
    color: var(--cor-preta-stroke);
    font-weight: 500;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem 0;
}

.carouselItem {
    min-width: 200px;
    scroll-snap-align: start;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.imgIntegrante {
    width: 100%;
    height: auto;
    margin-top: 1rem; 
    margin-bottom: -0.4rem;
}

.card {
    background-color: var(--cor-secundaria);
    color: var(--cor-fonte-branco);
    width: 15rem;
    border-radius: 0.5rem;
    text-align: center;
    overflow: hidden;
    margin-top: 0;
}

.cardHeader {
    background-color: var(--cor-primaria);
    padding: 1rem;
    padding-bottom: 0;
    font-family: var(--poppins-font);
    font-weight: 700;
}

.cardBody {
    padding: 1rem;
}

.cardFooter {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.icon {
    width: 32px;
    height: 28px;
    margin-left: 0.5rem;
}
