.ContainerCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    
    width: 45%;
    height: 170px;
    margin: 0 20px;

    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.205);
    background-color: rgb(255, 255, 255);
}

.ImageCategory {
    height: 100%;
    width: 214px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    background-color: #f6f6f6;
    box-shadow: 0 0 0;
}

.BoxContent {
    text-align: left;
    color: black;
}

.BoxContent h1{
    font-size: 26px;
}