.star_rating {
    display: flex;
    direction: row;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
  }

  .star {
    font-size: 26px;
    transition: 0.2s all;
  }
  
  .on .star {
    color: #686dcd;
  }
  
  .off .star {
    color: grey;
  }


  