*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: #fbfafa;
}

.navbar-list {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline-block;
    margin: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: var(--cor-fonte-branco); 
    text-transform: uppercase;
    font-family: var(--montserrat-font);
    font-weight: 600;
}