* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 0;
}

.navbar-nav {
    margin: auto;
}

.nav-item {
    margin: 0 10px;
}

.container{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #fbfafa;
}

.navbar-list {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline-block;
    margin: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    color: var(--cor-fonte-branco); 
    text-transform: uppercase;
    font-family: var(--poppins-font);
    font-weight: 600;
}


a {
    color: inherit; 
}

a:hover {
    text-decoration: underline; 
}

