:root {
    --cor-primaria: #9B59B6;
    --cor-secundaria: #D11F52;
    --cor-terciaria: #F68E07;
    --cor-background: #FFFBF3;
    --cor-fonte-principal: #361A5C;
    --poppins-font: "Poppins", sans-serif;
    --montserrat-font: "Montserrat", sans-serif;
}

.produtoCarrinho {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: var(--poppins-font);
}

.fotoProduto {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.infosProdutoCarrinho {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infosProdutoCarrinho h2 {
    color: var(--cor-fonte-principal);
    margin: 0;
    font-size: 18px;
}

.infosProdutoCarrinho p {
    color: rgba(88, 88, 88, 0.747);
    margin: 5px 0 15px;
    font-size: 14px;
    line-height: 20px;
}

.botoesAcao {
    display: flex;
    gap: 10px;
}

.botoesAcao button {
    color: var(--cor-fonte-principal);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.quantidadeProdutoCarrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.botaoQuantidade {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botaoQuantidade span {
    cursor: pointer;
    font-size: 18px;
}

.boxPreco {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.boxPreco span {
    font-size: 18px;
    color: var(--cor-fonte-principal);
}

.boxPreco button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--cor-terciaria);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.boxQuantidadeDisponiveis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-right: 15px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .produtoCarrinho {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .fotoProduto {
        width: 80px;
        height: 80px;
    }

    .infosProdutoCarrinho, .quantidadeProdutoCarrinho, .boxPreco {
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }

    .botaoQuantidade {
        width: 60%;
    }
}
